@import 'node_modules/@vfuk/web-core/resources/resources.scss';

.container {
  padding: $spacing-fixed-1 $spacing-fixed-2;
  border-top: 1px solid $color-pale-grey;
}

.content {
  margin-bottom: $spacing-fixed-2;
}

.hideTopBorder {
  border-top: 0;
}

.deviceName {
  margin-bottom: 4px;
}

.no-gutters {
  padding: 0;
}

.vertical-gutters {
  padding-top: $spacing-fixed-1 !important;
  padding-bottom: $spacing-fixed-1 !important;
}

.tradein-column-wrapper {
  justify-content: start !important;
  padding: $spacing-fixed-1 0;
}

.icon-column-wrapper {
  text-align: center;
  padding: 0;
}
