@import 'node_modules/@vfuk/web-core/resources/resources.scss';

.link {
  display: block;
  text-align: left;
  margin: $spacing-fixed-1 $spacing-fixed-0 $spacing-fixed-0;
  text-decoration: underline;
}

.inline-link {
  display: inline;
  text-decoration: underline;
}

.no-gutters {
  padding: 0;
}

.modal-prompt-md-container {
  padding: 0;
  display: none;

  @include md {
    display: flex;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.modal-prompt-sm-container {
  padding: 0;
  display: flex;
  align-items: center;

  @include md {
    display: none;
  }
}
