.message-container {
  max-width: fit-content;
  align-items: center !important;
}

.message-icon {
  flex-grow: 0 !important;
  align-items: center !important;
}

.header {
  margin-bottom: 0;
}

.home-delivery {
  align-items: center !important;
}
