@import 'node_modules/@vfuk/web-core/resources/resources.scss';

.package-header {
  padding: $spacing-fixed-1 $spacing-fixed-2;
}

.package-header-underline {
  border-bottom: 1px solid $color-pale-grey;
}

.package-body {
  max-height: 10000px; // Required for transition
  transition: max-height 500ms ease-in-out 500ms, opacity 500ms;
  overflow-y: hidden;
  opacity: 1;
}

.package-body-closed {
  max-height: 0;
  opacity: 0;
}

.entertainment-section {
  & b {
    display: inline-block;
  }

  & ul {
    padding-left: 0;
  }
}

.entertainment-sub {
  @include md {
    margin: 0 auto;
  }

  div {
    width: 100%;
    text-align: center;
  }
}

.entertainment-sub-title {
  margin-bottom: 4px;
}

.entertainment-sub-logos span {
  display: inline-block;
  font-weight: bold;
  padding: 0 4px;

  @include md {
    padding: 0 $spacing-fixed-1;
  }
}

.btns-wrapper {
  text-align: center;
}

.notification {
  margin-top: 15px;
  margin-bottom: -30px;
  width: 100%;
}
